.Clients {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    background: #ffffff
}

.OurClients {
    width: 42%;
    display: flex;
    flex-direction: column;
    margin-top: 165px;
    margin-left: 8%;
    text-align: left;
}

.our_clients_top_title {
    font-family: Gilroy Bold;
    font-size: 21px;
    line-height: 42px;

    letter-spacing: 0.32em;
    text-transform: uppercase;

    color: #029ED6;

    @include breakpoint(1366px) {
        font-size: 1vw;
    }
}

.our_clients_main_title {
    font-family: Gilroy Bold;
    font-size: 55px;
    line-height: 117%;
    /* or 117% */
    margin-bottom: 32px;

    & span {
        position: relative;
        // overflow: hidden;
    }

    @include breakpoint(1366px) {
        font-size: 4vw;
        line-height: 100%;
      }
}

.our_clients_subtitle {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 223%;
    width: 75%;
    /* or 31px */

    @include breakpoint(1320px) {
        font-size: 1.6vw;
        line-height: 150%;
      }
}

.client_panel {
    width: 100%;
    overflow: hidden;

    img {
        overflow: hidden;
        object-fit: contain !important;
        display: inline-flex !important;
        // width: 2vw !important;
        max-height: 3vw;
        max-width: 8vw !important;
        filter: grayscale(100%);
        margin: 1vw 2vw;
        cursor: pointer !important;
        pointer-events: all !important;
        transition: all 0.5s ease-in-out;

        &:hover {
            filter: none; 
        }
    }


    @include breakpoint(1366px) {
        filter: none;
        max-width: 7vw;
        max-height: 4vw;
    }
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 3vw;
    width: 3vw;
    background-image: url('../uploads/cl_arrow.png');
}

.carousel-control-prev-icon {
    transform: rotate(180deg);
}



