.MobSectionOne {
    position: relative;
    display: flex;
    width: 100%;
    height: 180vw;
    left: 0px;
    background: #051C33;
    flex-direction: column;
}

.MobTopPanel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 10;
}

.MobSectionThree {
    position: relative;
    padding-bottom: 12vw;

    @include breakpoint(767px) {
        flex-direction: column;
        height: fit-content;
    }
}

.MobFooter {
    background-color: #051C33;
    padding-top: 16vw;
}

.section_three_mob {
    height: 136vw;
    background-color: #F6F6F6;
    padding: 8vw 0;
}

.mob_panel_right{
    position: absolute;
    flex-direction: column;
    display: flex;
    white-space: nowrap;
    width: 100%;
    background: #051C33;
    height: fit-content;
    z-index: 10;
    margin: 18% auto;
}

.mob_panel_link{
    text-decoration: none;
    font-family: Gilroy Medium;
    font-size: 5vw;
    margin: 8vw;
    font-weight: 300;
    line-height: 3vw;
    /* identical to box height */

    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
    white-space: nowrap;
}

.mob_menu {
    width: 8vw;
    height: 4.4vw;
    filter: invert(100%);
    margin: 8.6vw;
    cursor: pointer;
}

.MobTechnology {
    display: flex;
    flex-direction: column;
    margin: auto;

    @include breakpoint(767px) {
        width: 85%;
        text-align: left;
    }
}

.hidden_menu {
    display: none;
}

.hexgroup_mob{
    background: 0 / cover no-repeat url('../uploads/mobhexgroup.png');
    position: absolute;
    overflow: hidden;
    width: 36vw;
    height: 102vw;
    left: 64vw;
    top: 0vw;
    z-index: 0;
}

.carousel .slider-wrapper {
    display: flex !important;
}

.carousel .slider-wrapper .slider {
    display: flex !important;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.carousel .slide img {
    width: 30vw !important;
    max-height: 20vw !important;
    margin: 8vw !important;
    object-position: center;
    object-fit: contain;
    display: inline-flex;
}

.carousel .slide {
    background: none !important;

}

.carousel .control-dots {
    margin: 2.8vw 0 !important;
}

.carousel .control-dots .dot {
    box-shadow: none !important;
    background: #000 !important;
    margin: 0 1.2vw !important;
}

ul {
    padding-inline-start: 0;
}

.car_slide {
    height: 100%;
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-around;
}