.Privacy {
    background-color: #ffffff;
}

.PrivacyPage {
    padding: 5.4vw;
    display: flex;
    width: auto;
    height: fit-content;
    flex-direction: row;
    z-index: -1;

    background: 0 2% / contain url('../uploads/privacy_bckgr.png');


    @include breakpoint(1366px) {
        flex-direction: column;
    }
}

.privacyLogo {
    position: relative;
    display: flex;
    width: 180px;
    height: 75px;
    left: 10vw;
    margin: 2vw 0;
    top: 0;
    z-index: 3;

    background: center / cover no-repeat url('../uploads/logo-white2.png');

    @include breakpoint(767px) {
        background: center / cover no-repeat url('../uploads/mob_pr_logo.png');
        width: 120px;
        height: 75px;
    }
}

.privacy_left {
    position: relative;
    background: #F6F6F6;
    border-radius: 5px;
    padding: 2.6vw 3.2vw;
    width: 175vw;
    height: fit-content;
    transition: transform 0.25s ease-out;

    @include breakpoint(1366px) {
        display: none;
    }
}

.privacy_right {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    padding: 0 4vw;
    line-height: 233%;
    width: auto;

    & > p {
        margin: 1.8vw 0;
    }

    @include breakpoint(1366px) {
        padding: 80px 4vw 0 4vw;
    }

    @include breakpoint(767px) {
        font-size: 14px;
    }

}

.privacy_link {
    display: flex;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    margin: 1.8vw 0;
    cursor: pointer;

    @include breakpoint(1366px) {
        margin: 16px 0;
        width: fit-content;
    }
}

.privacy_header {
    display: flex;
    background: #051C33;
    height: fit-content;
}

.policy_title {
    font-family: Gilroy Bold;
    font-size: 42px;
    margin-bottom: 3.6vw;

    @include breakpoint(767px) {
        font-size: 28px;
        margin-bottom: 20px;
    }
}

.privacy_menu {
    overflow: hidden;
    display: none;
    background: #F6F6F6;
    border-radius: 5px;
    width: auto;
    padding: 0 3.2vw;
    outline: none;
    white-space: nowrap;


    @include breakpoint(1366px) {
        position: absolute;
        width: 84vw;
        display: flex;
        flex-direction: column;
        height: 100%;
        max-height: 48px;
        white-space: nowrap;
        transition: max-height 0.3s ease;
        overflow: hidden;
        height: 1500px;
    }

    &.active {
        max-height: 568px;
    }

    // @include breakpoint(767px) {
    //     margin-bottom: 80px;
    // }
}

.col_arrow {
    position: absolute;
    left: 84vw;
    margin: 21px 0;
    width: 1.2vw;
    min-width: 12px;

    @include breakpoint(767px) {
        left: 82vw;
    }

}

.privacy_img {

    @include breakpoint(1366px) {
        margin-right: 7.6vw;
    }
    
}