.SectionThree {
    position: relative;
    display: flex;
    width: 100%;
    height: fit-content;
    background: #ffffff;
    left: 0px;
    margin-bottom: 55vw;
}

.Technology {
    position: relative;
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-left: 8%;
    text-align: left;
    margin-top: 290px;
    z-index: 3;
    color: #ffffff;

    @include breakpoint(1366px) {
        width: 36%;
        margin-left: 4%;
        top: 0vw;
        margin-top: 20vw;
      }
}

.technology_top_title {
    font-family: Gilroy Bold;
    font-size: 21px;
    line-height: 42px;

    letter-spacing: 0.32em;
    text-transform: uppercase;

    color: #029ED6;

    @include breakpoint(1366px) {
        font-size: 1.8vw;
        margin: 1.6vw 0;
      } 
}

.technology_main_title {
    font-family: Gilroy Bold;
    font-size: 55px;
    line-height: 117%;
    /* or 117% */
    margin-bottom: 32px;

    & span {
        position: relative;
        // overflow: hidden;
    }

    @include breakpoint(1366px) {
        font-size: 5.2vw;
        line-height: 115%;
        margin-bottom: 3.6vw;
      }
}

.technology_subtitle {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 223%;
    width: 80%;
    /* or 31px */

    @include breakpoint(1366px) {
        width: 96%;
        font-size: 1.8vw;
        line-height: 200%;
      }
}

.TechMenu {
    z-index: 5;

    @include breakpoint(1366px) {
        display: flex;
        flex-direction: row;
        margin-bottom: 32vw;
    }

    @include breakpoint(767px) {
        flex-direction: column;
        margin-bottom: 28vw;
    }
}

.listitem {
    display: flex;
    flex-direction: row;
    margin: 12px 0;

    &:first-of-type {
        margin-top: 2vw;

        @include breakpoint(767px) {
            margin-top: 10vw;
        }
    }
    &:before {
        content: 'â—';
        color: #029ED6;
        margin: 0.5vw;

        @include breakpoint(767px) {
            margin: 2.5vw;
        }
    }

}

.TechList {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 200%;
    margin-top: 4vw;

    &:last-child {
        margin: 0;
    }

    @include breakpoint(1366px) {
        font-size: 1.8vw;
    }

    @include breakpoint(767px) {
        font-size: 4.8vw;
        line-height: 183%;
        text-align: left;
        width: 100%;
        margin: 1vw 0;
    }
}

.MenuItemTech0 { 
    display: flex;
    width: 18%;
    position: absolute;
    top: 300px;
    right: 28%;
    flex-direction: column;
    margin: 0 60px;
    background-color: #ffffff;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.125);
    padding: 3%;
    border-radius: 5px;

    @include breakpoint(1366px) {
        position: relative;
        width: 56%;
        top: 12vw;
        left: 0vw;

        & > .menu_item_text {
            width: 100%;
        }
    }
      
    @include breakpoint(767px) {
        width: 84%;
        left: 0;
        margin: 0;
        padding: 12vw 8vw;
    }
}


.MenuItemTech1 {
    display: flex;
    width: 18%;
    position: absolute;
    top: 560px;
    right: 0%;
    flex-direction: column;
    margin: 0 60px;
    background-color: #ffffff;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.125);
    padding: 3%;
    border-radius: 5px;

    @include breakpoint(1366px) {
        position: relative;
        width: 56%;
        top: 12vw;
        left: 1vw;
        height: auto;

        & > .menu_item_text {
            width: 100%;
        }
    }  
    
    @include breakpoint(767px) {
        width: 84%;
        left: 0;
        top: 0;
        margin: 8vw 0;
        padding: 12vw 8vw;
    }
}

.MenuItemTech2 {
    display: flex;
    width: 18%;
    position: absolute;
    top: 800px;
    right: 5.5%;
    flex-direction: column;
    margin: 0 60px;
    background-color: #ffffff;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.125);
    padding: 3%;
    border-radius: 5px;

    @include breakpoint(1366px) {
        position: relative;
        width: 36%;
        top: 12vw;
        left: 52%;
        margin: 0;

        & > .menu_item_text {
            width: 100%;
        }
    }  

    @include breakpoint(767px) {
        width: 84%;
        left: 0;
        top: 0;
        margin: 8vw 0;
        padding: 12vw 8vw;
    }
}
